useDynLib(likeLTD, .registration=TRUE, .fixes=".cpp.") 
export(.cpp.nbthreads)
export(pack.admin.input)
export(allele.report)

export(read.csp.profile)
export(read.unc.profile)
export(read.known.profiles)
export(compatible.genotypes)

export(defense.hypothesis)
export(prosecution.hypothesis)
export(determine.dropout)

export(load.allele.database)

export(initial.arguments)
export(optimization.params)

export(create.likelihood.vectors)
export(create.likelihood.log)
export(create.likelihood)
export(penalties)

export(plotLikelihood.2d)
