useDynLib(likeLTD, .registration=TRUE, .fixes=".cpp.") 
export(.cpp.nbthreads)
export(.cpp.set_nbthreads)
export(pack.admin.input)
export(allele.report)

export(read.csp.profile)
export(read.unc.profile)
export(read.known.profiles)
export(compatible.genotypes)

export(defence.hypothesis)
export(prosecution.hypothesis)
export(determine.dropout)

export(load.allele.database)

export(initial.arguments)
export(relistArguments)
export(optimisation.params)

export(create.likelihood.vectors)
export(create.likelihood.log)
export(create.likelihood)
export(penalties)

export(plotLikelihood.2d)

export(locus.likes)
export(output.report)
export(output.names)

export(DEoptimLoop)

export(get.likely.genotypes)

importFrom(DEoptim, DEoptim)
importFrom(gdata, read.xls)
importFrom(gtools, combinations,permutations)
